@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.slider{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image{
  width: 1000px;
  height: 600px;
  border-radius: 30px;
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;

}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);

}

/*.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid rgb(40, 97, 144);
  padding: 200px;
  align-items: center;
}

/* {
    box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
}


/*.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}*/


/*
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}*/

